body {
    font-family: verdana;
    background-color: lightblue;
    margin-left: 100px;
    margin-right: 100px;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

p {
    font-size: 20px;
}
.header {
    background-image: url(head.png);
    background-position: left top;
    background-repeat: repeat;
    min-height: 200px;
}
