/*.object
/*.ser
**/scheduler/
**/log/
**/tmp/
**/results/
**/.DS_Store
**/.classpath
**/.project
**/.settings/
**/target
**/nb-*.xml
/data/
/scripts/
**/.idea/
machinelearning-2017/playerpos/application.properties
*.scala~

*.properties~
*.iml
machinelearning-2017/common/.cache-main
*.cache-tests
machinelearning-2017/create-data/.cache-main
*.cache-main
