**/scheduler/
**/log/
**/tmp/
**/.DS_Store
**/.classpath
**/.project
**/.settings/
**/target
**/nb-*.xml
**/.idea/
*.scala~
*.properties~
*.iml
*.cache-tests
*.cache-main
/data/
/scripts/
machinelearning-2017/common/.cache-main
machinelearning-2017/playerpos/application.properties
machinelearning-2017/create-data/.cache-main
vsoc-ga-2018/common/src/main/resources/application.properties
